html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background: #ccc;
    font-family: "Lato", sans-serif;
}

.title {
    text-align: center;
    color: darkviolet;
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    font-display: center;
    text-shadow: 3px 2px 4px black;
}